<!DOCTYPE html>
<html>

<head>

	<title>Waller Reviews</title>

	<link rel="stylesheet" type="text/css" href="/css/creative.css">

</head>

<body>
		<header>
			<section class="header-content">
   				<section class="header-content-inner">
     				<h1 id="homeHeading">Welcome</h1>
     				<p>Is that a good brand? All brands! Reviewed! </p>
     				<p><a class="btn btn-primary btn-xl page-scroll" href="/accounts/register">Register Now</a></p>
   				</section>
			</section>
		</header>

</body>

</html>


	
			
		

